@model PlaceOrderViewModel

@{
    ViewData["Title"] = "Home Page";
}
<form asp-action="PlaceOrder">
<table>
    <thead>
        <tr>
            <th colspan="2">Placer une commande :</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Nom :</td>
            <td><input asp-for="@Model.Nom" /></td>
        </tr>
        <tr>
            <td>Prénom :</td>
            <td><input asp-for="@Model.Prenom" /></td>
        </tr>
        <tr>
            <td>Adresse de livraison :</td>
            <td><input asp-for="@Model.Adresse" /></td>
        </tr>
        <tr>
            <td>Adresse email :</td>
            <td><input asp-for="@Model.Courriel" /></td>
        </tr>
        <tr>
            <td>Produit :</td>
            <td><input asp-for="@Model.Produit" /></td>
        </tr>
        <tr>
            <td>Quantité :</td>
            <td><input asp-for="@Model.Quantite" /></td>
        </tr>
    </tbody>
<tfoot>
    <tr>
        <td colspan="2"><button type="submit">Commander</button></td>
    </tr>
</tfoot>
</table>
</form>
